h1 {
    color: rgb(0, 5, 0);
}
p {
    font-family: 'Salesforce Sans', Arial, sans-serif;
    color: rgb(62, 62, 60);
}
.app {
    background-color: #8f8f8d;
    height: 100vh;
    overflow: scroll;
}

.canvas {
    border: 1px solid #003d99;
    background-color: #3d3e41;
    transition: border 0.5s, background-color 0.5s;
 }
 
.actionTile {
    border: 1px solid #003d99;
    background-color: #f5f6f8;
    transition: border 0.5s, background-color 0.5s;
 }